apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ kubernetes_sickchill_deployment }}
  namespace: {{ kubernetes_sickchill_namespace }}
  labels:
    app: {{ kubernetes_sickchill_app }}
{% if kubernetes_sickchill_deployment_labels %}
    {{ kubernetes_sickchill_deployment_labels | to_nice_yaml | indent(4) }}
{% endif %}
{% if kubernetes_sickchill_deployment_annotations %}
  annotations:
    {{ kubernetes_sickchill_deployment_annotations | to_nice_yaml | indent(4) }}
{% endif %}
spec:
  replicas: {{ kubernetes_sickchill_replicas }}
  revisionHistoryLimit: {{ kubernetes_sickchill_revision_history }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ kubernetes_sickchill_app }}
  template:
    metadata:
      labels:
        app: {{ kubernetes_sickchill_app }}
    spec:
      containers:
      - image: {{ kubernetes_sickchill_image }}
        imagePullPolicy: Always
        name: sickchill
        resources:
          {{ kubernetes_sickchill_resources | to_yaml | indent(10) }}
        ports:
        - name: sickchill
          containerPort: 8081
        livenessProbe:
          httpGet:
            path: /
            port: sickchill
          initialDelaySeconds: 60
          periodSeconds: 20
        volumeMounts:
        - mountPath: /config
          name: sickchill-config
          {% if kubernetes_sickchill_config_volume.subPath is defined %}subPath: {{ kubernetes_sickchill_config_volume.subPath }}{% endif %}

{% for k, v in kubernetes_sickchill_downloads_volumes.items() %}
        - mountPath: /downloads/{{ k }}
          name: sickchill-downloads-{{ k }}
          {% if v.subPath is defined %}subPath: {{ v.subPath }}{% endif %}

{% endfor %}
{% for k, v in kubernetes_sickchill_tv_volumes.items() %}
        - mountPath: /tv/{{ k }}
          name: sickchill-tv-{{ k }}
          {% if v.subPath is defined %}subPath: {{ v.subPath }}{% endif %}

{% endfor %}
{% for k, v in kubernetes_sickchill_watchdirs_volumes.items() %}
        - mountPath: /watchdirs/{{ k }}
          name: sickchill-watchdirs-{{ k }}
          {% if v.subPath is defined %}subPath: {{ v.subPath }}{% endif %}

{% endfor %}
{% if kubernetes_sickchill_node_selector|default({}) %}
      nodeSelector:
        {{ kubernetes_sickchill_node_selector | to_yaml | indent(8) }}
{% endif %}
      volumes:
      - {name: sickchill-config, {{ kubernetes_sickchill_config_volume.definition | to_yaml }}}
{% for k, v in kubernetes_sickchill_downloads_volumes.items() %}
      - {name: sickchill-downloads-{{ k }}, {{ v.definition | to_yaml }}}
{% endfor %}
{% for k, v in kubernetes_sickchill_tv_volumes.items() %}
      - {name: sickchill-tv-{{ k }}, {{ v.definition | to_yaml }}}
{% endfor %}
{% for k, v in kubernetes_sickchill_watchdirs_volumes.items() %}
      - {name: sickchill-watchdirs-{{ k }}, {{ v.definition | to_yaml }}}
{% endfor %}
      restartPolicy: Always
status: {}
