kind: Service
apiVersion: v1
metadata:
  name: {{ kubernetes_sickchill_service }}
  namespace: {{ kubernetes_sickchill_namespace }}
spec:
  selector:
    app: {{ kubernetes_sickchill_app }}
  ports:
    - port: 80
      targetPort: sickchill
